

.navlink button {
    border-color: rgb(227, 206, 167);
    color: rgb(125, 111, 85);
    border-radius: 5rem;
    border-width: 1px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
}

.navlink button:hover {
    border-color: rgb(227, 206, 167);
    color: rgba(146, 129, 100, 0.612);
}

.carou {
    width: 450px;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 1px 5px rgba(3, 2, 2, 0.167);
    border:solid rgba(255, 255, 255, 0.086);
}

.ab {
    color: rgb(148, 136, 111);
    text-decoration: none;
    transition: all 0.3s ease;
}

.ab:hover {
    color: rgb(200, 190, 168);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: rgba(66, 59, 47, 0.815);
}

.navlink {
    width: 100%;
    background-color: rgba(251, 250, 244, 0.65);
    top: 0;
    left: 0;
    padding: 10px 40px 7px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0.5px 5px rgba(65, 59, 59, 0.248);
}

.navlink a {
    color: rgb(95, 90, 82);
    text-decoration: none;
    transition: all 0.3s ease;
}

.navlink a:hover {
    color: rgba(95, 90, 82, 0.64);
}

.navtext {
    text-decoration: none;
    color: rgb(255, 244, 223);
}

.navright {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navlink button {
    border-radius: 0.5rem;
    padding: 2px 10px 2px 10px;
    background-color: transparent;
    border-color: rgb(222, 222, 222);
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.badan {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.badan1 {
    flex: 1; 
}

.badan2 {
    margin-top: auto; 
}

h1 {
    font-size: 80px;
}

.aboutus {
    margin: 30px 80px 30px 80px;
    color: white ;
}

.aboutus2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    align-content: center;
}

.aboutus2 img {
    border: solid white;
    border-radius: 1px;
    box-shadow: 1px 1px 2px 1px rgba(65, 59, 59, 0.234);
}

.content2 {
    background: linear-gradient(rgba(255, 251, 247, 0.98), rgba(255, 249, 233, 0.976));
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 2px rgba(65, 59, 59, 0.5);
    padding-top: 20px;
    padding: 50px;
    padding-bottom: 25px;
    margin: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: left;
    border: solid rgba(152, 143, 126, 0.611) ;
    color: rgb(110, 102, 83);
    font-family: 'Times New Roman', Times, serif;

    display: flex;
    flex-direction: column;

    align-content: center;
    align-items: center;

    width: fit-content;
}