

button {
    background-color: rgb(255, 244, 223);
    border-color: rgb(227, 206, 167);
    color: rgb(125, 111, 85);
    border-radius: 5rem;
    border-width: 1px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgb(255, 249, 239);
    border-color: rgb(227, 206, 167);
    color: rgba(146, 129, 100, 0.612);
    border-radius: 5rem;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.isijumbo button {
    background-color: transparent;
    color: rgb(237, 229, 213);
    padding: 5px 20px 5px 20px;
    text-shadow: 0px 1px 3px rgb(65, 61, 54);
    box-shadow: 0px 1px 3px rgb(65, 61, 54);
}

.isijumbo a{
    color: rgb(237, 229, 213);
}
.isijumbo a:hover{
    color: rgba(237, 229, 213, 0.742) ;
}

.ab {
    color: rgb(148, 136, 111);
    text-decoration: none;
    transition: all 0.3s ease;
}

.ab:hover {
    color: rgb(200, 190, 168);
}

.navlink {
    width: 100%;
    background-color: rgba(251, 250, 244, 0.65);
    top: 0;
    left: 0;
    padding: 10px 40px 7px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0.5px 5px rgba(65, 59, 59, 0.248);
}

.navlink a {
    color: rgb(95, 90, 82);
    text-decoration: none;
    transition: all 0.3s ease;
}

.navlink a:hover {
    color: rgba(95, 90, 82, 0.64);
}

.navtext {
    text-decoration: none;
    color: rgb(255, 244, 223);
}

.navright {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navlink button {
    border-radius: 0.5rem;
    padding: 2px 10px 2px 10px;
    background-color: transparent;
    border-color: rgb(222, 222, 222);
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 0;
}

.badan {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.badan1 {
    flex: 1; 
}

.badan2 {
    margin-top: auto; 
    color: white;
    margin-bottom: 0;
}

.isijumbo {
    padding: 190px;
    color: rgb(255, 244, 223);
    text-shadow: 3px 3px 7px rgb(173, 162, 135);
    text-align: center;
    align-content: center;
}

h1 {
    font-size: 80px;
}

.content {
    padding: 50px;
    padding-top: 60px;
    text-align: center;
}

.rooms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 60px;

    align-items: center;
    align-content: center;
    justify-content: center;
}

.card {
    width: 300px;
    background-color: #ffffff78;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.072);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 15px rgba(108, 96, 80, 0.284);
}

.cardimg {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.cardbody {
    padding: 18px;
}

.cardtitle {
    margin: 0;
    font-size: 22px;
    color: #444;
}

.cardtext {
    margin: 10px 0 15px;
    font-size: 14px;
    color: #666;
}

.content h1 {
    font-size: 50px;
    color: rgb(80, 71, 57);
}


.card button {
    background-color: transparent;
    color: rgb(116, 108, 88);
    padding: 5px 50px 5px 50px;
    text-shadow: 0px 1px 3px rgba(179, 173, 164, 0.319);
    box-shadow: 0px 1px 3px rgba(179, 173, 164, 0.319);
}

.card a{
    color: rgb(116, 108, 88);
}
.card a:hover{
    color: rgba(116, 108, 88, 0.407);
}

.contact {
    color: rgb(101, 94, 75);
    padding: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: rgba(215, 202, 183, 0.622);
}


.reviews {
    background: linear-gradient(rgba(255, 251, 247, 0.98), rgba(255, 249, 233, 0.976));
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 2px rgba(65, 59, 59, 0.5);
    padding-top: 20px;
    padding: 50px;
    padding-bottom: 25px;
    margin: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: left;
    border: solid rgba(152, 143, 126, 0.611) ;
    color: rgb(110, 102, 83);
    font-family: 'Times New Roman', Times, serif;

    display: flex;
    flex-direction: column;

    align-content: center;
    align-items: center;

    width: fit-content;
}

.rev {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 15px;
    text-align: justify;
}
