


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.form {
    background-color: rgb(255, 252, 252);
    border-radius: 1.5rem;
    padding-top: 30px;
    box-shadow: 5px 5px 10px 2px rgba(211, 191, 191, 0.5);
    align-content: center;
    align-items: center;
}

.header1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

button {
    background-color: rgb(255, 244, 223);
    border-color: rgb(227, 206, 167);
    color: rgb(125, 111, 85);
    border-radius: 5rem;
    border-width: 1px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgb(255, 249, 239);
    border-color: rgb(227, 206, 167);
    color: rgb(189, 177, 153);
    border-radius: 5rem;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Times New Roman', Times, serif;
}

table {
  border-collapse: collapse; 
  width: 100%;
}

table, th, td {
  border: 1px solid #9b917ab1; 
  padding: 10px;
  text-align: center;
}

th {
    font-size: 20px;
    background-color: rgba(236, 230, 216, 0.976);
}


.table_content {
    background: linear-gradient(rgba(255, 251, 247, 0.98), rgba(255, 249, 233, 0.976));
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 2px rgba(65, 59, 59, 0.5);
    padding-top: 20px;
    padding: 50px;
    padding-bottom: 25px;
    margin: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
    text-align: left;
    border: solid rgba(152, 143, 126, 0.611) ;
    color: rgb(110, 102, 83);
    font-family: 'Times New Roman', Times, serif;

    display: flex;
    flex-direction: column;

    align-content: center;
    align-items: center;

    width: fit-content;
}


textarea,select {
    border-radius: 1rem;
    border-width: 1px;
    padding: 10px;
    background-color: transparent;
    border-color: rgb(209, 197, 175);
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.2s ease;
}

input:focus {
    outline: none;
    border-width: 1px;
    border-color: rgb(255, 244, 223) ;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 5px rgba(224, 200, 168, 0.906);
}

textarea:focus {
    outline: none;
    border-width: 1px;
    border-color: rgb(255, 244, 223) ;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 5px rgba(224, 200, 168, 0.906);
}

select:focus {
    outline: none;
    border-width: 1px;
    border-color: rgb(255, 244, 223) ;
    background-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 5px rgba(224, 200, 168, 0.906);
}


.ab {
    color: rgb(148, 136, 111);
    text-decoration: none;
    transition: all 0.3s ease;
}

.ab:hover {
    color: rgb(200, 190, 168);
}

.navlink {
    width: 100%;
    background-color: rgba(251, 250, 244, 0.65);
    top: 0;
    left: 0;
    padding: 10px 40px 7px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0.5px 5px rgba(65, 59, 59, 0.248);
    z-index: 1000;
}

.navlink a,h2 {
    color: rgb(95, 90, 82);
    text-decoration: none;
    transition: all 0.3s ease;
}
.navlink a:hover {
    color: rgba(95, 90, 82, 0.64);
}

.navtext {
    text-decoration: none;
    color: rgb(255, 244, 223);
}

.navright {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navlink button {
    border-radius: 0.5rem;
    padding: 2px 10px 2px 10px;
    background-color: transparent;
    border-color: rgb(222, 222, 222);
}


html, body {
    height: 100%;
    margin: 0;
}

.badan {
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

.badan1 {
    flex: 1; 
}

.badan2 {
    margin-top: auto; 
}
